#php.includeDevDependencies=true
#npm.includeDevDependencies=true
#python.pipenvDevDependencies=true
#python.includePoetryDevDependencies=true
#go.modules.includeTestDependencies=true

#sbt.includedScopes=compile,runtime,test

#maven.ignoredScopes=provided

#gradle.includedConfigurations=testImplementation testCompile
